# Package and IDE artifacts
*.pyc
*.egg*
.vscode/

# Testing related
htmlcov/
.coverage

# C artifacts
*.o
*.so
lib/

# Jupyter Notebook Artifacts
.ipynb_checkpoints

# Dash artifacts
cache/

# Webapp Assets
*.mp4