# Ugly hack to ignore all files that lack extensions (such as executables)
*
!/**/
!*.*

# Package and IDE artifacts
*.pyc
*.egg*
.vscode/

# Testing related
htmlcov/
.coverage

# C artifacts
*.o
*.so

# Jupyter Notebook Artifacts
.ipynb_checkpoints

# Dash artifacts
cache.db*

# Webapp Assets
*.mp4