# NOTE: VTK is a dependency of PyVista, and as of version 9.1.0 VTK does not
# appear to be compatible with Python versions above 3.7.

# Install source code as editable package
-e .

# Install Python packages
numba==0.55.1
pytest==7.1.2

# Web app related packages
dash==2.4.1
dash[diskcache]
dash-bootstrap-components==1.1.0

# PyVista
pyvista==0.34.1
imageio-ffmpeg==0.4.7
